body {
  color: #ffffff;
  animation-duration: 3s;
  animation-name: shadow;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 10px;
  padding: 0 15px;
  border: #000;
}

p {
  padding: 10px;
  color: #000000;
  background: #fff;
  border-radius: 5px;
  /*  text-align: center; */
  margin: 8px;
}
ul li {
  list-style: none;
}
a {
  color: #000000;
}

@keyframes shadow {
  from {
    background: #4b6cb7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
  }
  50% {
    background: #226079; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #66337e, #9f44b1);
  }
  to {
    background: #4b6cb7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
  }
}
